.otsikko {
    padding: 50px;
    text-align: center;
    color: darkslategray;
    text-decoration: none;
    
  }

li {
    padding: .75rem 1.25rem;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: .25rem;
  color: darkblue;
}